<div class="mt-4">
    <div class="row">
        <div class="col-lg-5 col-md-4 col-12">
            <div class="item-show">
                <img class="product-detail-image" src="{{item.image}}" alt="{{this.name}}">
            </div>
        </div>
        <div class="col-lg-7 col-md-8 col-12">
            <div class="item-show">
                <h3>{{item.description}}</h3>
                <div class="item-price" style="color: rgb(255, 95  , 54)">₫{{item.price}}</div>

                <section class="voucher">
                    <div class="title-section mt-2 col-lg-3">
                        <h5>Mã giảm giá của shop</h5>
                    </div>
                    <div class="detail-voucher col-lg-9">
                        <p class="detail-voucher-price">Giảm đ5k</p>
                        <p class="detail-voucher-price">Giảm đ8k</p>
                    </div>
                </section>

                 <section class="ship mt-4">
                    <div class="title-section mt-2 col-lg-3">
                        <h5>Combo khuyễn mãi</h5>
                    </div>
                    <div class="detail-ship col-lg-9">
                        <p class="detail-ship-price" style="color: black;">Miễn phí vẫn chuyển</p>
                        <p class="detail-ship-price">Vận chuyển từ nước ngoài</p>
                    </div>
                </section>

                <section class="color mt-4">
                    <div class="title-section mt-2 col-lg-3">
                        <h5>Màu Sắc</h5>
                    </div>
                    <div class="detail-color col-lg-9">
                        <button class="btn-pick-color">Trắng</button>
                        <button class="btn-pick-color">Đen</button>
                        <button class="btn-pick-color">Nâu</button>
                    </div>
                </section>
                 
                 <section class="count mt-4">
                    <div class="title-count mt-2 col-lg-3">
                        <h5>Số lượng</h5>
                    </div>
                    <div class="detail-count col-lg-3">
                        <button class="btn decrement"> - </button>
                        <span class="counter">1</span>
                        <button class=" btn increment"> + </button>
                    </div>
                    <div class="detail-count-2 col-lg-6">sản phầm có sẵn</div>
                </section>

                
                
            </div>
        </div>
    </div>
</div>
<script>
    // Lấy thẻ span và các nút
    var counterElement = document.querySelector('.counter');
    var decrementButton = document.querySelector('.decrement');
    var incrementButton = document.querySelector('.increment');

    // Đặt sự kiện cho nút giảm
    decrementButton.addEventListener('click', function() {
        updateCounter(-1);
    });

    // Đặt sự kiện cho nút tăng
    incrementButton.addEventListener('click', function() {
        updateCounter(1);
    });

    // Hàm cập nhật giá trị của thẻ span
    function updateCounter(change) {
        var currentValue = parseInt(counterElement.innerText, 10);
        
        // Kiểm tra giá trị không bao giờ nhỏ hơn 1
        if (currentValue + change >= 1) {
            counterElement.innerText = currentValue + change;
        }
    }
</script>



