<div class="mt-4">
    <div class="row">
        <div class="col-lg-5 col-md-4 col-12">
            <div class="item-show">
                <img class="product-detail-image" src="{{item.image}}" alt="{{this.name}}">
            </div>
        </div>
        <div class="col-lg-7 col-md-8 col-12">
            <div class="item-show">
                <h3>{{item.name}}</h3>
                <div class="item-price" style="color: rgb(255, 95  , 54)">₫{{item.price}}</div>

                <section class="voucher">
                    <div class="title-section mt-2 col-lg-3">
                        <h5>Mã giảm giá của shop</h5>
                    </div>
                    <div class="detail-voucher col-lg-9">
                        <p class="detail-voucher-price">Giảm đ5k</p>
                        <p class="detail-voucher-price">Giảm đ8k</p>
                    </div>
                </section>

                 <section class="ship mt-4">
                    <div class="title-section mt-2 col-lg-3">
                        <h5>Combo khuyễn mãi</h5>
                    </div>
                    <div class="detail-ship col-lg-9">
                        <p class="detail-ship-price" style="color: black;">Miễn phí vẫn chuyển</p>
                        <p class="detail-ship-price">Vận chuyển từ nước ngoài</p>
                    </div>
                </section>

                <section class="color mt-4">
                    <div class="title-section mt-2 col-lg-3">
                        <h5>Màu Sắc</h5>
                    </div>
                    <div class="detail-color col-lg-9">
                        <div class="option">1</div>
                        <div class="option">2</div>
                        <div class="option">3</div>
                    </div>
                </section>
                
                
            </div>
        </div>
    </div>
</div>
