<div class="container1">
    <div class="content-slide">
        <div class="content-slide1">
            <a href="">
                <img src="./img/content1.jpeg" class="img-content img-main" alt="Responsive image">
            </a>
        </div>
        <div class="content-slide23">
            <div class="content-slide2">
                <a href="">
                    <img src="./img/content2.jpeg" class="img-content" alt="Responsive image">
                </a>
            </div>
            <div class="content-slide3">
                <a href="">
                    <img src="./img/content3.jpeg" class="img-content" alt="Responsive image">
                </a>
            </div>
        </div>
    </div>
    <div class="list-item-content">
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
        <div class="item1">
            <h1>item1</h1>
        </div>
    </div>
</div>
<div class="container2">
    <h1>Container2</h1>
</div>
<div class="container6">
    <div class="container-title">
        <div class="title">
             <h4> GỢI Ý HÔM NAY</h4>
        </div>
        <div class="divider">aaa</div>
        
    </div>
</div>